<a href="https://colab.research.google.com/github/yongsa-nut/TU_CN101_67-2/blob/main/%5BSOL_LAB_6%5D_List_Lab.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# List 2 Lab (solutions)

Turn off AI: Tools -> Settings -> Hide generative AI features

**Q1**:  What will this program print out?

```python
temp = [5,5,4,4,4,3,3]
temp[0] = 1
temp[1] = len(temp)
temp[len(temp)-1] = temp[0]*2
print(temp)
```

In [ ]:
#Explanation
temp = [5,5,4,4,4,3,3]
temp[0] = 1
# here temp is [1,5,4,4,4,3,3]
temp[1] = len(temp)
# here temp is [1,7,4,4,4,3,3] because len(temp) is 7
temp[len(temp)-1] = temp[0]*2
# here temp is [1,7,4,4,4,3,3]
#    because temp[0] is 1 and 1*2 is 2
#    then len(temp)-1 --> 7-1 --> 6  so we set temp[6] to 2
print(temp) #[1,7,4,4,4,3,2]

[1, 7, 4, 4, 4, 3, 2]

**Q2**: What will this program print out?
```python
seq1 = [1,2,3]
seq2 = [4,4,4]
seq3 = seq1 + seq2
seq3[4] = 5
print(seq3)
```

In [ ]:
#Explanation
seq1 = [1,2,3]
seq2 = [4,4,4]
seq3 = seq1 + seq2 # list + list operation == combined them together so --> seq3 = [1, 2, 3, 4, 4, 4]
seq3[4] = 5 # seq3[4] now changed to 5
print(seq3) # [1, 2, 3, 4, 5, 4]

[1, 2, 3, 4, 5, 4]

In [ ]:
[1, 2, 3, 4, 5, 4]

**Q3** What will this program print out?
```python
seq1 = [0]*5
seq2 = [1,2,3]*3
print(seq1 + seq2)
```

In [ ]:
#Explanation
seq1 = [0]*5 #repeated [0] for 5 times so --> seq1 = [0, 0, 0, 0, 0]
seq2 = [1,2,3]*3 #repeated [1, 2, 3] for 3 times so --> seq2 = [1, 2, 3, 1, 2, 3, 1, 2, 3]
print(seq1 + seq2) # combine them together

[0, 0, 0, 0, 0, 1, 2, 3, 1, 2, 3, 1, 2, 3]

**Q4**: What will this program print out?

```python
target = 'E'
if target in ['A','B','C']:
  print([target]*1)
elif target in ['A','D','FE']:
  print([target]*2)
elif target in ['A','E','I','O','U']:
  print([target]*3)
else:
  print([target]*4)
```

In [ ]:
target = 'E'
if target in ['A','B','C']: #False: 'E' is not there
  print([target]*1)
elif target in ['A','D','FE']: #False: 'E' is not there
  print([target]*2)
elif target in ['A','E','I','O','U']: #TRUE: There is 'E' in the list
  print([target]*3) #This line is executed
else:
  print([target]*4)

['E', 'E', 'E']

**Q5**: What will this program print out if the user enters `122`?

```python
references = [12,234,671,32,122,99]
query = int(input('Enter your query'))
if query in references:
  print('Yes')
else:
  print('No')
```

In [ ]:
references = [12,234,671,32,122,99]
query = int(input('Enter your query')) # query=122
if query in references: # TRUE: because 122 is in [12,234,671,32,122,99]
  print('Yes')
else:
  print('No')

Enter your query122
Yes

**Q6**: What will this program print out?

```python
temp = [30,20,18,90,77,44]
new_list = []
for num in temp:
  if num > 20:
    new_list.append(num)
print(new_list)
```

In [ ]:
temp = [30,20,18,90,77,44]
new_list = []
for num in temp: # for each item in list
  if num > 20: # True when num are 30, 90, 77, 44
    new_list.append(num) #When TRUE --> add the num to new_list
print(new_list) # [30, 90, 77, 44]

[30, 90, 77, 44]

**Q7**: What will this program print out?
```python
initial = [1,1]
for i in range(1,5):
  initial.append(initial[i-1] + initial[i])
print(initial)
```

In [ ]:
# This program created a Fibonacci sequence
initial = [1,1]
for i in range(1,5): #i will be extracted from [1, 2, 3, 4]
  initial.append(initial[i-1] + initial[i]) #This line add the number at the current index to the previous one.
  # We do this four times
  #   when i = 1 --> initial = [1, 1, 1+1] = [1, 1, 2]
  #   when i = 2 --> initial = [1, 1, 2, 1+2] = [1, 1, 2, 3]
  #   when i = 3 --> initial = [1, 1, 2, 3, 2+3] = [1, 1, 2, 3, 5]
  #   when i = 4 --> initial = [1, 1, 2, 3, 5, 3+5] = [1, 1, 2, 3, 5, 8]
print(initial) # [1, 1, 2, 3, 5, 8]

[1, 1, 2, 3, 5, 8]

**Q8**: What will this program print out?
```python
names = [['Alice','Bob'],['Anna','Mike'],['Mary','Richard']]
print(names[0][1], names[2][0])
```

In [ ]:
names = [['Alice','Bob'],['Anna','Mike'],['Mary','Richard']] #This is a list of list.
"""
 It might help to imagine this as the following table
 names = [['Alice','Bob'],
          ['Anna','Mike'],
          ['Mary','Richard']]
 Then, names[i][j] is an item in row i, column j
 Therefore,
      names[0] is ['Alice', 'Bob']
      and names[0][1] is 'Bob'
"""
print(names[0][1], names[2][0]) #names[0][1] is 'Bob', names[2][0] is 'Mary'
#print('Bob', 'Mary') is --> Bob Mary

Bob Mary

**Q9:** What will the following code print out?

```python
numbers = [7, 8, 25, 20, 25]
numbers.insert(3, 10)
numbers.sort()
numbers.remove(25)
print(numbers)
```

In [ ]:
numbers = [7, 8, 25, 20, 25]
numbers.insert(3, 10) #add 10 at index 3. So, now --> numbers = [7, 8, 25, 10, 20, 25]
numbers.sort() #sorted in ascending order. So, now --> numbers = [7, 8, 10, 20, 25, 25]
numbers.remove(25) # an 25 is removed. So, --> numbers = [7, 8, 10, 20, 25]
print(numbers)

[7, 8, 10, 20, 25]

**Q10**: What will the following code print out?

```python
items = [1, 2, 3, 4]
list1 = [item+1 for item in items]
list2 = [item**2 for item in items if item%2 ==0]
print(list1)
print(list2)
```

In [ ]:
# This code use list comprehension. Read more at https://www.w3schools.com/python/python_lists_comprehension.asp
items = [1, 2, 3, 4]
list1 = [item+1 for item in items] # created list1 with each item in items plus one. So, list1 = [2, 3, 4, 5]
list2 = [item**2 for item in items if item%2 ==0] #created list2 with item**2 only when the item in items is even (that is, 2 and 4). So, list2 = [2**2, 4**2] = [4, 16]
print(list1) #[2, 3, 4, 5]
print(list2) #[4, 16]

[2, 3, 4, 5]
[4, 16]

**Q11** Fill in the blank so that the program prints out `[2,4,6,8]`

In [ ]:
my_list = []
for num in range(1,10):
  if ______________________:
    ______________________
print(my_list)

In [ ]:
#To tackle this question, you may start with considering how the output we want([2, 4, 6, 8]) related to the range(1, 10)
# We see that the my_list consists of all even numbers between 1 and 9
my_list = []
for num in range(1,10): # num will be [1, 2, 3, 4, 5, 6, 7, 8, 9]
  if num % 2== 0: #This will be true when num == 2, 4, 6, 8
    my_list.append(num) #add num to my_list
print(my_list)

[2, 4, 6, 8]

**Q12** Fill in the blank so that the program prints out `[1, 4, 9, 16]`

In [ ]:
numbers = [0, 1, 2, 3]
print([___________ for ______ in numbers])

In [ ]:
# We see that what we wanted is a list of [1**2, 2**2, 3**2, 4**2]
numbers = [0, 1, 2, 3] #which we see that this is the square of each item in numbers plus one
print([(num +1)**2 for num in numbers])

[1, 4, 9, 16]

**Q13** Fill in the blank so that the program print out `[5, 10, 15]`

In [ ]:
sequences = [1, 5, 10, 3, 15, 4, 7, 9]
new_list = [_____ for ______ in sequences __________________________]
print(new_list)

In [ ]:
sequences = [1, 5, 10, 3, 15, 4, 7, 9]
# We want a new list with [5, 10, 15], which, all of them are already in the sequences and they are multiple of 5
new_list = [num for num in sequences if num % 5== 0] #num is added to new_list is num%5 == 0
print(new_list)
# If you're confused, read more about list comprehension at https://www.w3schools.com/python/python_lists_comprehension.asp

[5, 10, 15]

**Q14**: Create a list from the user

Write a program to receive input from the user and create a list. The user will first type the value `n`, and then input `n` integer values.

After that, find the average value of the list and then create another list where each element is the original value minus the average.

---

à¸ˆà¸‡à¹€à¸‚à¸µà¸¢à¸™à¹‚à¸›à¸£à¹à¸à¸£à¸¡ à¹€à¸žà¸·à¹ˆà¸­à¸£à¸±à¸šà¸‚à¹‰à¸­à¸¡à¸¹à¸¥à¸™à¸³à¹€à¸‚à¹‰à¸²à¸ˆà¸²à¸ user à¹à¸¥à¸°à¸¡à¸²à¸ªà¸£à¹‰à¸²à¸‡à¹€à¸›à¹‡à¸™ list. User à¸ˆà¸°à¸žà¸´à¸¡à¸žà¹Œà¸„à¹ˆà¸² `n` à¸à¹ˆà¸­à¸™à¹à¸¥à¹‰à¸§à¸«à¸¥à¸±à¸‡à¸ˆà¸²à¸à¸™à¸±à¹‰à¸™à¸ˆà¸°à¸žà¸´à¸¡à¸žà¹Œà¸‚à¹‰à¸­à¸¡à¸¹à¸¥ à¸ˆà¸³à¸™à¸§à¸™à¹€à¸•à¹‡à¸¡à¸­à¸µà¸ `n` à¸„à¹ˆà¸²

à¸«à¸¥à¸±à¸‡à¸ˆà¸²à¸à¸™à¸±à¹‰à¸™ à¹ƒà¸«à¹‰à¸«à¸²à¸„à¹ˆà¸² à¸„à¹ˆà¸²à¹€à¸‰à¸¥à¸µà¹ˆà¸¢à¸‚à¸­à¸‡ list à¹à¸¥à¸° à¸ªà¸£à¹‰à¸²à¸‡ list à¸­à¸µà¸ list à¸—à¸µà¹ˆà¸¥à¸šà¸„à¹ˆà¸²à¹€à¸‰à¸¥à¸µà¹ˆà¸¢à¸­à¸­à¸à¸ˆà¸²à¸à¸ˆà¸³à¸™à¸§à¸™à¸—à¸¸à¸à¸„à¹ˆà¸²

**Extra**: Write two programs: 1) using `append`, 2) list comprehension

Hint: You can use `sum()`

Example 1:
```
Enter n: 3
Enter number: 1
Enter number: 1
Enter number: 1
The original list is [1, 1, 1]
The mean is 1.00
The new list is [0.0, 0.0, 0.0]
```

Example 2:

```
Enter n: 5
Enter number: 1
Enter number: 3
Enter number: 5
Enter number: 7
Enter number: 9
The original list is [1, 3, 5, 7, 9]
The mean is 5.00
The new list is [-4.0, -2.0, 0.0, 2.0, 4.0]
```

In [ ]:
# Let think about the steps to write this program
# 1) Ask user to Enter n
# 2) For n times, ask user to enter number
# 3) calculate the mean of all number in the list
# 4) create a new list with the item minus mean (that we found in #3)
# 5) print out

In [ ]:
# Method 1: Using append

# 1) Ask user to Enter n
n = int(input("Enter n: "))

# 2) For n times, ask user to enter number
original_list = []
for i in range(n): # notice i is not used, so you can name it anything
  original_list.append(int(input("Enter number: ")))

# 3) calculate the mean of all number in the list
mean = sum(original_list) / len(original_list)

# 4) create a new list with the item minus mean (that we found in #3)
new_list = []
for num in original_list:
  new_list.append(num - mean)

# 5) print out
print(f"The original list is {original_list}")
print(f"The mean is {mean:.2f}")
print(f"The new list is {new_list}")

Enter n: 3
Enter number: 1
Enter number: 1
Enter number: 1
The original list is [1, 1, 1]
The mean is 1.00
The new list is [0.0, 0.0, 0.0]

In [ ]:
# Method 2: List comprehension

# 1) Ask user to Enter n
n = int(input("Enter n: "))
# 2) For n times, ask user to enter number
original_list = [int(input("Enter number: ")) for i in range(n)]

# 3) calculate the mean of all number in the list
mean = sum(original_list) / len(original_list)

# 4) create a new list with the item minus mean (that we found in #3)
new_list = [num - mean for num in original_list]

# 5) print out
print(f"The original list is {original_list}")
print(f"The mean is {mean:.2f}")
print(f"The new list is {new_list}")

Enter n: 5
Enter number: 1
Enter number: 3
Enter number: 5
Enter number: 7
Enter number: 9
The original list is [1, 3, 5, 7, 9]
The mean is 5.00
The new list is [-4.0, -2.0, 0.0, 2.0, 4.0]

**Q15**: FizzBuzz

Given an integer $n$, return a list $answer$ where:

* $\texttt{answer[i] == "FizzBuzz"}$ if $\texttt{i}$ is divisible by 3 and 5.
* $\texttt{answer[i] == "Fizz"}$ if $\texttt{i}$ is divisible by 3.
* $\texttt{answer[i] == "Buzz"}$ if $\texttt{i}$ is divisible by 5.
* $\texttt{answer[i] == i}$ if none of the above conditions are true.


Example 1:

```
Enter n: 3
[1,2,'Fizz']
```

Example 2:

```
Enter n: 5
[1,2,'Fizz',4,'Buzz']
```

Example 3:

```
Enter n: 15
[1,2,'Fizz',4,'Buzz','Fizz',7,8,'Fizz','Buzz',11,'Fizz',13,14,'FizzBuzz']
```

In [ ]:
# There are two approachs to write this program
# Method 1: created a list from 1 to n, then check the condition to replace the number with string
# Method 2: created an empty list that append it with appropriate items

In [ ]:
# Method 1: create a list of 1 to n first

# Let think about the steps to write this program
# 1) Ask user to Enter n
# 2) create a list of numbers (1 to n) as answer
# 3) Check the three conditions
#     - ðšŠðš—ðšœðš ðšŽðš›[ðš’] == "ð™µðš’ðš£ðš£ð™±ðšžðš£ðš£"  if  ðš’  is divisible by 3 and 5.
#     - ðšŠðš—ðšœðš ðšŽðš›[ðš’] == "ð™µðš’ðš£ðš£"  if  ðš’  is divisible by 3.
#     - ðšŠðš—ðšœðš ðšŽðš›[ðš’] == "ð™±ðšžðš£ðš£"  if  ðš’  is divisible by 5.
# 4) print out

#----------------------------------------------
### Let's code!
#----------------------------------------------
# 1) Ask user to Enter n
n = int(input("Enter n: "))

# 2) create a list of numbers (1 to n) as answer
answer = [ x for x in range(1, n+1)]

# 3) Check the three conditions
#     - ðšŠðš—ðšœðš ðšŽðš›[ðš’] == "ð™µðš’ðš£ðš£ð™±ðšžðš£ðš£"  if  ðš’  is divisible by 3 and 5.
#     - ðšŠðš—ðšœðš ðšŽðš›[ðš’] == "ð™µðš’ðš£ðš£"  if  ðš’  is divisible by 3.
#     - ðšŠðš—ðšœðš ðšŽðš›[ðš’] == "ð™±ðšžðš£ðš£"  if  ðš’  is divisible by 5.
for i in range(len(answer)):
  if answer[i] % 3 == 0 and answer[i] % 5 == 0:
    answer[i] = "FizzBuzz"
  elif answer[i] % 3 == 0:
    answer[i] = "Fizz"
  elif answer[i] % 5 == 0:
    answer[i] = "Buzz"
  # 'else:' is not necessary since the list has initialized in step#2
#Note: you can implemented this step with while loop as well

# 4) print out
print(answer)

Enter n: 15
[1, 2, 'Fizz', 4, 'Buzz', 'Fizz', 7, 8, 'Fizz', 'Buzz', 11, 'Fizz', 13, 14, 'FizzBuzz']

In [ ]:
# Method 2: create an empty list then append

# Let think about the steps to write this program
# 1) Ask user to Enter n
# 2) create an empty list called answer
# 3) loop through 1 to n and check the four conditions
#     - append "ð™µðš’ðš£ðš£ð™±ðšžðš£ðš£"  if  ðš’  is divisible by 3 and 5.
#     - append "ð™µðš’ðš£ðš£"  if  ðš’  is divisible by 3.
#     - append "ð™±ðšžðš£ðš£"  if  ðš’  is divisible by 5.
#     - append ðš’  if none of the above conditions are true.
# 4) print out

#----------------------------------------------
### Let's code!
#----------------------------------------------
# 1) Ask user to Enter n
n = int(input("Enter n: "))

# 2) create an empty list called answer
answer = []

# 3) loop through 1 to n and check the four conditions
#     - append "ð™µðš’ðš£ðš£ð™±ðšžðš£ðš£"  if  ðš’  is divisible by 3 and 5.
#     - append "ð™µðš’ðš£ðš£"  if  ðš’  is divisible by 3.
#     - append "ð™±ðšžðš£ðš£"  if  ðš’  is divisible by 5.
#     - append ðš’  if none of the above conditions are true.
for i in range(1, n+1):
  if i % 3 == 0 and i % 5 ==0:
    answer.append("FizzBuzz")
  elif i % 3 == 0:
    answer.append("Fizz")
  elif i % 5 == 0:
    answer.append("Buzz")
  else:
    answer.append(i)
  #Note: you can implemented this with while loop as well

# 4) print out
print(answer)

Enter n: 15
[1, 2, 'Fizz', 4, 'Buzz', 'Fizz', 7, 8, 'Fizz', 'Buzz', 11, 'Fizz', 13, 14, 'FizzBuzz']

**Q15 Extra:** a version with list comprehension

The syntex for list comprehension with if else is as follows:
```python
newlist = [do_something_when_True if condition == True else do_something_when_false for item in iterable ]
```

Notice that you can't use elif with the above format. However, we can work around it with nested if-else conditions

In [ ]:
# Extra: a version with nested else-if list comprehension
#Let's code!
n = int(input("Enter n: "))
answer = [ 'FizzBuzz' if (i%3==0 and i%5==0) else (
                                                    'Fizz' if i%3==0 else (
                                                                      'Buzz' if i%5==0 else i
                                                                      )
                                                    )
                for i in range(1,n+1)] #Note: the Python interpreter will interpret all of these within [] as one long line
print(answer)

Enter n: 15
[1, 2, 'Fizz', 4, 'Buzz', 'Fizz', 7, 8, 'Fizz', 'Buzz', 11, 'Fizz', 13, 14, 'FizzBuzz']

In [ ]:
# same code as the block above, but written in a single line
n = int(input("Enter n: "))
answer = [ 'FizzBuzz' if (i%3==0 and i%5==0) else ('Fizz' if i%3==0 else ('Buzz' if i%5==0 else i)) for i in range(1,n+1)]
print(answer)

Enter n: 15
[1, 2, 'Fizz', 4, 'Buzz', 'Fizz', 7, 8, 'Fizz', 'Buzz', 11, 'Fizz', 13, 14, 'FizzBuzz']

## Submission
- File -> Download -> Download .ipynb
- Upload to MS Teams