<a href="https://colab.research.google.com/github/yongsa-nut/TU_CN101_67-2/blob/main/Decision_Structure_Lab_(Sol).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Decision Structure Lab

Turn off AI: Tools -> Settings -> Hide generative AI features

**Q1**: What will the program print out?

```python
a = 30
b = 20
c = 40
print((a != b) or (b > c))
print((c > b) and (a > b))
```

In [ ]:
True
True

**Q2**: What will the program print out?
```python
x = 5
if x > 3:
  print("Hello")
else:
  print("Goodbye")
```

In [ ]:
Hello

**Q3**: What will the program print out?
```python
age = 18
if age >= 18:
    print("You can vote")

if age >= 30:
    print("You are old")
else:
    print("You are young")

print('Done')
```

In [ ]:
You can vote
You are young
Done

**Q4**: What will the program print out?
```python
score = 75
if score >= 90:
    print("A")
elif score >= 80:
    print("B")
elif score >= 70:
    print("C")
else:
    print("F")
```

In [ ]:
C

**Q5**: What will the program print out?
```python
score = 95
if score >= 90:
  print("A")
if score >= 80:
  print("B")
if score >= 70:
  print("C")
else:
  print("F")
```

In [ ]:
A
B
C

**Q6**: What will the program print out?

```python
a = 5
b = 3
c = 7
if a > b and a > c:
    print("A is largest")
elif b > a and b > c:
    print("B is largest")
else:
    print("C is largest")
```

In [ ]:
C is largest

**Q7**: What will the followign code print out?

```python
x = 30
if x > 50:
  print("A")
elif x > 40:
 print("B")
elif x > 30:
 print("C")
else:
 print("D")
```

In [ ]:
D

**Q8**: What will the following code print out?
```python
x = 5
y = 7
z = 10
print(f"{x > z}, {z < y}, {x*2 == (y+z)}, {(x+z) != (1+y*2)}")
```

In [ ]:
False, False, False, False

**Q9**: What will the following code print out?
```python
value = 52
if value > 45:
  print("First", end='')
if value > 40:
  print("Second", end='')
if value > 35:
  print("Third", end='')
else:
  print("Fourth", end='')
```

In [ ]:
FirstSecondThird

**Q10**: What will the following code print out?
```python
name = 'Alice'
value = 10
if name == 'Anna':
  print('Hello', end = ',')
  if value > 20:
    print('Big')
  else:
    print('Small')
else:
  print('Hi', end = ':')
  if value < 15:
    print('Yes')
  else:
    print('NO')
```

In [ ]:
Hi:Yes

**Q11**: Fill in the blank to print "Hello" if x is greater than 5:

In [ ]:
x = 7
if x > 5:
  print("Hello")

Hello

**Q12**: Complete the code to print "Pass" if the score is 60 or above, and "Fail" otherwise:

In [ ]:
score = 75
if score >= 60:
  print("Pass")  #here
else:
  print("Fail")  #here

**Q13**: Fill in the blank to check if a number is divisible by both 2 and 3 (หารด้วยสอง และ สามลงตัว):

In [ ]:
num = 12
if num % 2 == 0 and num % 3 == 0:
  print("Divisible by 2 and 3")

**Q14**: Complete the code to print "Child" if age is less than 13, "Teen" if age is between 13 and 19 (inclusive), and "Adult" otherwise:

In [ ]:
age = 15
if age < 13:
  print("Child")
elif 13 <= age and age <= 19:
  print("Teen")
else:
  print("Adult")

**Q15**: Fill in the blank so that the program print out 'Here'. (There are multiple answers)

In [ ]:
num = 12 # here
if num > 19 and num < 9:
  print('Not here')
elif num <7:
  print('Not here')
elif num > 15:
  print('Not here')
else:
  print('Here')

here

**Q16**: Fill in the blank so that the program print out "2"

In [ ]:
x = 5
y = 7
z = 6
if x < y:
  if y < z:
      print("1")
  else:
      print("2")
else:
  if x < z:
      print("3")
  else:
      print("4")

2

**Q17**: Fill in the code below so that the program will output 'Second'.

In [ ]:
num =  12    # fill in the value here
if num < 10 or num > 15:
  print('First')
else:
  if num % 2 == 0 and num <= 13:
    print('Second')
  else:
    print('Third')

Second

**Q18**: Even or Odd?

Write a program that receives a number from the user and print `Even` if the number is an even number and print `Odd` if the number is an odd number.

Hint: You can use `% 2` to check even or odd.

Example 1:
```
>Enter your number: 31
Odd
```
Example 2:
```
>Enter your number: 24
Even
```

In [ ]:
num = int(input('Enter your number: '))
if num % 2 == 0:
  print('Even')
else:
  print('Odd')

Enter your number: 24
Even

**Q19**: Date formatting

Write a program to get inputs from the user for day, month, year, and format ('US', 'JP', 'TH'). Print the date in the given format as follows.

- The 'US' format = Month Day Year.

- The 'JP' format = Year Month Day.

- The 'TH' format = Day Month Year.

Input:
- Day
- Month
- Year
- string, format

Output:
- Date in the correct format

Example 1:
```
>Enter day: 1
>Enter month: 10
>Enter year: 2024
>Enter format: US
Month 10 Day 1 Year 2024
```

Example 2:
```
>Enter day: 1
>Enter month: 10
>Enter year: 2024
>Enter format: JP
Year 2024 Month 10 Day 1
```

Example 3:
```
>Enter day: 1
>Enter month: 10
>Enter year: 2024
>Enter format: TH
Day 1 Month 10 Year 2024
```

In [ ]:
day = input('Enter day: ')
month = input('Enter month: ')
year = input('Enter year: ')
format = input('Enter format: ')
if format == 'US':
  print(f'Month {month} Day {day} Year {year}')
elif format == 'JP':
  print(f'Year {year} Month {month} Day {day}')
elif format == 'TH':
  print(f'Day {day} Month {month} Year {year}')

Enter day: 1
Enter month: 10
Enter year: 2024
Enter format: TH
Day 1 Month 10 Year 2024

**Q20**: Cashier Program ver 2.

Write a program to calculate the total payment.

There are three goods: Donut (10 Baht), Cupcake (20 Baht), and Popcorn (40 Baht). The customer can get discounts if the following conditions are met:

- If you buy at least 20 donuts, get 20% off on donuts (discount applies to donuts only)
- If you buy at least 10 cupcakes, get 10% off on cupcakes (discount applies to cupcakes only)

Note: you can get both discounts.

**Input:**
- The number of donut, cupcake, and popcorn.

**Output:**
- Payment before the discount. 2 decimal places
- Payment after the discount. 2 decimal places

Example
```
>Enter the number of donut: 30
>Enter the number of cupcake: 20
>Enter the number of popcorn:  5
The total payment befor discount is 900.00 baht.
The payment after discount is 800.00 baht.
```

```
>Enter the number of donut: 5
>Enter the number of cupcake: 20
>Enter the number of popcorn:  3
The total payment befor discount is 570.00 baht.
The payment after discount is 530.00 baht.
```

```
>Enter the number of donut: 10
>Enter the number of cupcake: 10
>Enter the number of popcorn:  5
The total payment befor discount is 500.00 baht.
The payment after discount is 480.00 baht.
```

In [ ]:
DONUT_PRICE = 10
CUPCAKE_PRICE = 20
POPCORN_PRICE = 40

# input
donut = int(input('Enter the number of donut: '))
cupcake = int(input('Enter the number of cupcake: '))
popcorn = int(input('Enter the number of popcorn: '))

# process
total_payment = donut * DONUT_PRICE + cupcake * CUPCAKE_PRICE + popcorn * POPCORN_PRICE
discount_payment = total_payment

if donut >= 20:
  discount_payment = discount_payment - donut * DONUT_PRICE * 0.2
if cupcake >= 10:
  discount_payment = discount_payment - cupcake * CUPCAKE_PRICE * 0.1

# output
print(f'The total payment before discount is {total_payment:.2f} baht.')
print(f'The payment after discount is {discount_payment:.2f} baht.')

Enter the number of donut: 10
Enter the number of cupcake: 10
Enter the number of popcorn: 5
The total payment before discount is 500.00 baht.
The payment after discount is 480.00 baht.

## Submission
- File -> Download -> Download .ipynb
- Upload to MS Teams